body
{
    background-image:url('../Images/Background.png');
    background-repeat:no-repeat;
    background-position:center top;
}

body {
	color: #ccc;
	font-family: Arial, sans-serif;
	font-size: 100%;
	font-weight: bold;	
    text-align: center;
}

#main a:link {color:#0000FF;}    /* unvisited link */
#main a:visited {color:#000066;} /* visited link */
#main a:hover {color:#3366FF;}   /* mouse over link */
a:active {color:#0000FF;}  /* selected link */ 

body
{
  margin:0;
  padding:0 right-sidebar-<length> 0 left-sidebar-<length>;
}

div#left-sidebar
{
  position:absolute;
  top:0;
  left:0;
  width:left-sidebar-<length>;
  height:100%;
}

div#right-sidebar
{
  position:absolute;
  top:0;
  right:0;
  width:right-sidebar-<length>;
  height:100%;
 }

@media screen 
{
    body>div#left-sidebar
    {
        position:fixed;
    }
    
    body>div#right-sidebar
    {
        position:fixed;
    }
}

* html body
{
    overflow:hidden;
}

* html div#content
{
    height:100%;
    overflow:auto;
}

ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

a:link, a:visited
{
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-image:url('PLACEHOLDER.GIF');
    background-color:#B0B0B0;
    width:120px;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-spacing:8px;
    text-transform:uppercase;
}

a:hover, a:active
{
    background-image:url('PLACEHOLDER.GIF');
    background-color:#A20033;
    text-decoration:none;
}

.one.inner {
    width: 500px;
    height: 500px;
    line-height: 10em;
    background: #ffffff;
    border-radius: 1em;
}
 
.one.outer {
	display: inline-block;
    background: #A20033;
    padding: 1em;
    border-radius: 2em;
}
